{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/styles/filters.css">
    <link rel="stylesheet" href="../static/styles/choose_quiz.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/scripts/choose_quiz.js"></script>
{% endblock %}

{% block content %}
    <!--CONTENTS-->
    <div class="container">
        <section class="content">
	{% if quizzes and quizzes|length > 0 %}
            <h1>Choose a quiz to get started</h1>

            <ul>
		<!--
	        <li>
                    <h2>Anatomy 101 by <b>Becky Bella</b> 10 months ago</h2>
                    <p class="multiline">Practice questions for your Anatomy first test.</p>
                    <p>Duration: <b>30</b> mins</p>
		</li>
		-->
	    {% for quiz in quizzes|sort(attribute='title') %}
	    	<li class="quiz_item" data-id="{{ quiz.id }}">
		    <h2>{{ quiz.title }} by <strong>{{ quiz.author.first_name }} {{ quiz.author.last_name }}</strong> {{ quiz.age }}</h2>
		    <p class="multiline">{{ quiz.description }}</p>
		    <p>Duration: <strong>{{ quiz.duration }}</strong> minutes</p>
                </li>
	    {% endfor %}
            </ul>
	{% else %}
	    <h1>Sorry, no quiz is available at the moment</h1>
	    <h1>But you can create one 😊</h1>
	    <h1>Menu >> Create a quiz</h1>
	{% endif %}
        </section>
    </div>
{% endblock %}
