{% extends "base.html" %}
{% block head %}
        <meta charset="utf-9">
        <title>Nervenex</title>

        <!--Favicon-->
        <link rel="icon" type="image/png" href="../static/images/icon.png">

        <!--STYLING-->
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<link rel="stylesheet" href="../static/styles/filters.css">
	<link rel="stylesheet" href="../static/styles/quizzes.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="../static/scripts/general.js"></script>
	<script src="../static/scripts/correction.js"></script>
{% endblock %}

{% block content %}
        <!--HEADER-->
        <header>
            <section class="navigation">
                <button class="button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
 
                    <ul class="menu">
                        <li id="menu_home">Home</li>
                        <li id="menu_take_quiz">Take a quiz</li>
                        <li id="menu_create_quiz">Create a quiz</li>
			<li id="menu_quiz_history">Quiz history</li>
			<li id="menu_view_posts" class="tooltip" disabled>View Posts<span class="tooltiptext">Comming soon</span></li>
                        <li id="menu_get_resources">Get Resources</li>
                        <li id="menu_login">Log in</li>
			<li id="menu_logout">Log out</li>
                    </ul>
                </button>
            </section>
            <section class="header_logo">
		    <div class="tooltip button">
		    	<span class="tooltiptext">Return to home</span>
		    </div>
	    </section>
          
            <section class="tooltip user_detail">
                <p id="username">Unidentified User</p>
                <div id="api_status">U</div>
		<span class="tooltiptext">Menu >> Login</span>
            </section>
        </header>


        <!--CONTENTS-->
        <div class="pg_container">
            <section class="quiz_info">
		<h2>{{ quiz.title }}</h2>
		<p class="mulitline">{{ quiz.description }}</p>
		<p class="score">Score: {{ attempt.score }}/{{ attempt.answers|length }}
		<p class="grade">Grade: {{ percent_score }}% => {{ grade }}</p>
            
                <div class="quiz_numbers">
		{% if quiz.questions and quiz.questions|length > 0 %}
                    <ul>
			<!--
                        <li class="attempted">1</li>
                        <li class="current">8</li>
			-->
		    {% for answer in answers %}
		    	{% if answer.value < 1 %}
		    <li id="quiz_num.Question.{{ answer.question.id }}" class="quiz_num" href="Question.{{ answer.question.id }}">{{ loop.index }}</li>
		    	{% else %}
		    <li id="quiz_num.Question.{{ answer.question.id }}" class="attempted quiz_num" href="Question.{{ answer.question.id }}">{{ loop.index }}</li>
		    	{% endif %}
		    {% endfor %}
                    </ul>
		{% endif %}
                </div>

		<div class="time"><b>Time</b> <span>{{ quiz.duration }} min</span></div>

                <div class="timer">
			<p class="figures">
			<span class="hour">{{ time_hour }}</span> <span class="seconds">{{ time_min }}</span>
			</p>
                    <p class="key"><span>Hours</span><span>Minutes</span></p>
                </div>
		<section class="key">
			<h3>Key:</h3>
			<p class="chosen correct">Correct option selected</p>
			<p class="not_chosen correct">Correct option but was not chosen</p>
			<p class="wrong">Wrong answer chosen</p>
		</section>

		<!--
                <button id="submit">Submit</button>
		-->
            </section>

            <section class="questions">
                <h2>Questions</h2>
		{% if quiz.questions and quiz.questions|length > 0 %}
                <ul>
		    <!--
                    <li class="question_item">
                        <article>
                            <span class="question_num">1</span>
                            <p>A patient comes to the doctor complaining of abdominal pain. Which of the following is not likely the cause of the pain?</p>
                            <ol>
                                <li>Pancreatitis</li>
                                <li>Hernia</li>
                                <li class="answer">Vertigo</li>
                                <li>Peptic ulcer disease.</li>
                            </ol>
                        </article>
                    </li>
		    -->

		    {% for answer in answers %}
		    <li class="question_item" id="Question.{{ answer.question.id }}">
                        <article>
			    <span class="question_num">{{ loop.index }}</span>
			    <p>{{ answer.question.content }}</p>
                            <ol>
			    {% set options = [answer.question.option_a, answer.question.option_b, answer.question.option_c, answer.question.option_d] %}
			    {% for option in options %} 
				{% if answer.question.correct_answer == loop.index and answer.value == answer.question.correct_answer %}
				    <li class="chosen correct">{{ option }}</li>
				{% elif answer.question.correct_answer == loop.index and answer.value != answer.question.correct_answer %}
				    <li class="not_chosen correct">{{ option }}</li>
				{% elif answer.value == loop.index %}
				    <li class="wrong">{{ option }}</li>
				{% else %}
				    <li>{{ option }}</li>
				{% endif %}
			    {% endfor %}
                            </ol>

			    {% if answer.question.explanation|length > 0 %}
			    <h4>Explanation</h4>
			    <pre>{{ answer.question.explanation }}</pre>
			    {% endif %}
			    <p>
                        </article>
                    </li>
		    {% endfor %}
                </ul>
		{% endif %}
            </section>
        </div>

        <!--FOOTER-->
        <div class="pagefooter">
            <footer>
                <span class="info">
                    <ul>
                        <li id="footer_about" class="hyperlink">about</li>
                        <li id="footer_contact" class="hyperlink">contact</li>
                        <li id="footer_terms" class="hyperlink">terms of service</li>
                    </ul>
                </span>

                <span class="social_media">
                    <ul>
                        <li id="footer_facebook" class="facebook button logo"><div></div></li>
                        <li id="footer_github_edwin" class="github button logo"><div></div></li>
                        <li id="footer_github_ebube" class="github button logo"><div></div></li>
                    </ul>
                </span>
            </footer>
        </div>
{% endblock %}
