{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/styles/filters.css">
    <link rel="stylesheet" href="../static/styles/create_quizzes.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/scripts/create_quizzes.js"></script>
{% endblock %}

{% block content %}
        <!--CONTENTS-->
        <div class="pg_container">
            <section class="quiz_info">
                <input class="quiz_title" type="text" placeholder="Title"/>
                <textarea class="description" maxlength="512" placeholder="Describe the quiz ..."></textarea>
            
                <p><b>Time alloted: </b><input class="alloted_time" type="time"/></p>

                <div class="timer">
                    <p class="key"><span>Hours</span><span>Minutes</span></p>
                </div>

		<h4>Categories</h4>
		<select name="categories" class="categories">
		<!--
	  	    <li class="cat_chosen">Lorem ipsum</li>
	  	-->
		    <option value="">Choose a category</option>
		{% for cat in categories | sort(attribute='name') %}
		    <option value="{{ cat.id }}">{{ cat.name }}</option>
		{% endfor %}
		</select>
		<input class="new_category" maxlength="128" placeholder="New category"/>

                <button id="upload">Upload</button>
            </section>

            <section class="questions">
                <h2>Questions</h2>
                <ul>
                    <li class="question_item">
                        <article>
			    <span class="delete_question">Delete</span>
                            <textarea class="question_content" maxlength="512" placeholder="Describe the question ..."></textarea>
                            <p>* Select the correct option.</p>
                            <ol>
				<!--
                                <li class="answer"><input class="checkbox" type="radio" name="question.id"/> <input maxlength="128" type="text" placeholder="Option C"/></li>
	    			-->
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option A"/></li>
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option B"/></li>
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option C"/></li>
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option D"/></li>
                            </ol>
                            <p>* Give explanation for answer (optional)</p>
                            <textarea class="explanation" placeholder="Explain why it is so ..."></textarea>
                        </article>
                    </li>
                </ul>
                <button id="add_question">Add</button>
            </section>
        </div>
{% endblock %}
