<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-9">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nervenex</title>

        <!--Favicon-->
        <link rel="icon" type="image/png" href="../static/images/icon.png">

        <!--STYLING-->
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<link rel="stylesheet" href="../static/styles/filters.css">
	<link rel="stylesheet" href="../static/styles/create_quizzes.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="../static/scripts/general.js"></script>
	<script src="../static/scripts/create_quizzes.js"></script>
    </head>

    <body>
        <!--HEADER-->
        <header>
            <section class="navigation">
                <button class="button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
 
                    <ul class="menu">
                        <li id="menu_home">Home</li>
                        <li id="menu_take_quiz">Take a quiz</li>
                        <li id="menu_create_quiz">Create a quiz</li>
			<li id="menu_quiz_history">Quiz history</li>
			<li id="menu_view_posts" class="tooltip" disabled>View Posts<span class="tooltiptext">Comming soon</span></li>
                        <li id="menu_get_resources">Get Resources</li>
                        <li id="menu_login">Log in</li>
			<li id="menu_logout">Log out</li>
                    </ul>
                </button>
            </section>
            <section class="header_logo">
		    <div class="tooltip button">
		    	<span class="tooltiptext">Return to home</span>
		    </div>
	    </section>
          
            <section class="tooltip user_detail">
                <p id="username">Unidentified User</p>
                <div id="api_status">U</div>
		<span class="tooltiptext">Menu >> Login</span>
            </section>
        </header>


        <!--CONTENTS-->
        <div class="pg_container">
            <section class="quiz_info">
                <input class="quiz_title" type="text" placeholder="Title"/>
                <textarea class="description" maxlength="512" placeholder="Describe the quiz ..."></textarea>
            
                <p><b>Time alloted: </b><input class="alloted_time" type="time"/></p>

                <div class="timer">
                    <p class="key"><span>Hours</span><span>Minutes</span></p>
                </div>

		<h4>Categories</h4>
		<select name="categories" class="categories">
		<!--
	  	    <li class="cat_chosen">Lorem ipsum</li>
	  	-->
		    <option value="">Choose a category</option>
		{% for cat in categories | sort(attribute='name') %}
		    <option value="{{ cat.id }}">{{ cat.name }}</option>
		{% endfor %}
		</select>
		<input class="new_category" maxlength="128" placeholder="New category"/>

                <button id="upload">Upload</button>
            </section>

            <section class="questions">
                <h2>Questions</h2>
                <ul>
                    <li class="question_item">
                        <article>
			    <span class="delete_question">Delete</span>
                            <textarea class="question_content" maxlength="512" placeholder="Describe the question ..."></textarea>
                            <p>* Select the correct option.</p>
                            <ol>
				<!--
                                <li class="answer"><input class="checkbox" type="radio" name="question.id"/> <input maxlength="128" type="text" placeholder="Option C"/></li>
	    			-->
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option A"/></li>
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option B"/></li>
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option C"/></li>
                                <li><input class="checkbox" type="radio" name="question.1"/> <input maxlength="128" type="text" placeholder="Option D"/></li>
                            </ol>
                            <p>* Give explanation for answer (optional)</p>
                            <textarea class="explanation" placeholder="Explain why it is so ..."></textarea>
                        </article>
                    </li>
                </ul>
                <button id="add_question">Add</button>
            </section>
        </div>

        <!--FOOTER-->
        <div class="pagefooter">
            <footer>
                <span class="info">
                    <ul>
                        <li id="footer_about" class="hyperlink">about</li>
                        <li id="footer_contact" class="hyperlink">contact</li>
                        <li id="footer_terms" class="hyperlink">terms of service</li>
                    </ul>
                </span>

                <span class="social_media">
                    <ul>
                        <li id="footer_facebook" class="facebook button logo"><div></div></li>
                        <li id="footer_github_edwin" class="github button logo"><div></div></li>
                        <li id="footer_github_ebube" class="github button logo"><div></div></li>
                    </ul>
                </span>
            </footer>
        </div>
    </body>
</html>
