<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-9">
        <title>Nervenex</title>

        <!--Favicon-->
        <link rel="icon" type="image/png" href="../static/images/icon.png">

        <!--STYLING-->
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static//styles/header.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<link rel="stylesheet" href="../static/styles/filters.css">
	<link rel="stylesheet" href="../static/styles/core.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../static/scripts/general.js"></script>
    </head>

    <body>
        <!--HEADER-->
        <header>
            <section class="navigation">
                <button class="button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
 
                    <ul class="menu">
                        <li>Home</li>
                        <li>Take a quiz</li>
                        <li>Create a quiz</li>
                        <li>View Posts</li>
                        <li>Get Resources</li>
                        <li>Log in</li>
                    </ul>
                </button>
            </section>
            <section class="header_logo">
		    <div class="tooltip button">
		    	<span class="tooltiptext">Return to home</span>
		    </div>
	    </section>
          
            <section class="user_detail">
                <p>John Doe</p>
                <div id="api_status">J</div>
            </section>
        </header>


        <!--CONTENTS-->
        <div class="container">

            <!--SEARCH AND FILTER SECTION - TO BE PROVIDED SOON-->
            <section class="filters">
                <!--Options-->
                <div class="quizzes">
                    <h3>Quizzes</h3>
                    <h4>Physiology, Histology ...</h4>

                    <ul class="popover">
                        <li class="button">Physiology</li>
                        <li class="button">Histology</li>
                        <li class="button">Gross Anatomy</li>
                        <li class="button">Biochemistry</li>
                        <li class="button">Philosophy</li>
                    </ul>
                </div>

                <div class="posts">
                    <h3>Posts</h3>
                    <h4>Health, Technology ...</h4>

                    <ul class="popover">
                        <li class="button">Health</li>
                        <li class="button">Technology</li>
                        <li class="button">Ubuntu</li>
                        <li class="button">Necrosis</li>
                        <li class="button">Oncology</li>
                    </ul>
                </div>

                <!--SEARCH BUTTON-->
                <button class="button">Search</button>
            </section>


            <!--SWITCH TABS--
            <section class="tabs">
                <ul>
                    <li class="button">Quizzes</li>
                    <li class="button">Posts</li>
                    <li class="button">Resources</li>
                </ul>
            </section>
        -->
        <section class="content">
            <button class="start">START NOW</button>
        </section>

        <!--FOOTER-->
        <div class="pagefooter">
            <footer>
                <span class="info">
                    <ul>
                        <li class="hyperlink">about</li>
                        <li class="hyperlink">contact</li>
                        <li class="hyperlink">terms of service</li>
                    </ul>
                </span>

                <span class="social_media">
                    <ul>
                        <li class="facebook button logo"><div></div></li>
                        <li class="twitter button logo"><div></div></li>
                        <li class="github button logo"><div></div></li>
                    </ul>
                </span>
            </footer>
        </div>
    </body>
</html>
