<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-9">
        <title>Nervenex</title>

        <!--Favicon-->
        <link rel="icon" type="image/png" href="../static/images/icon.png">

        <!--STYLING-->
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<link rel="stylesheet" href="../static/styles/filters.css">
	<link rel="stylesheet" href="../static/styles/core.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../static/scripts/general.js"></script>
	<script src="../static/scripts/index.js"></script>
    </head>

    <body>
        <!--HEADER-->
        <header>
            <section class="navigation">
                <button class="button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
 
                    <ul class="menu">
                        <li id="menu_home">Home</li>
                        <li id="menu_take_quiz">Take a quiz</li>
                        <li id="menu_create_quiz">Create a quiz</li>
                        <li id="menu_view_posts">View Posts</li>
                        <li id="menu_get_resources">Get Resources</li>
                        <li id="menu_login">Log in</li>
			<li id="menu_logout">Log out</li>
                    </ul>
                </button>
            </section>
            <section class="header_logo">
		    <div class="tooltip button">
		    	<span class="tooltiptext">Return to home</span>
		    </div>
	    </section>
          
            <section class="tooltip user_detail">
                <p id="username">Unidentified User</p>
                <div id="api_status">U</div>
		<span class="tooltiptext">Menu >> Login</span>
            </section>
        </header>


        <!--CONTENTS-->
        <div class="container">

            <!--SEARCH AND FILTER SECTION - TO BE PROVIDED SOON-->
            <section class="filters">
                <!--Options-->
                <div class="quizzes">
                    <h3>Quizzes</h3>
                    <h4>Physiology, Histology ...</h4>

                    <ul class="popover">
			<!--
                        <li class="button">Physiology</li>
                        <li class="button">Histology</li>
                        <li class="button">Gross Anatomy</li>
                        <li class="button">Biochemistry</li>
                        <li class="button">Philosophy</li>
			-->
		    {% for cat in quiz_cats|sort(attribute='name') %}
		    	<li class="button">{{ cat.name }}</li>
		    {% endfor %}
                    </ul>
                </div>

                <div class="threads">
                    <h3>Threads</h3>
                    <h4>Health, Technology ...</h4>

                    <ul class="popover">
			<!--
                        <li class="button">Health</li>
                        <li class="button">Technology</li>
                        <li class="button">Ubuntu</li>
                        <li class="button">Necrosis</li>
                        <li class="button">Oncology</li>
			-->
		    {% for cat in thread_cats|sort(attribute='name') %}
		    	<li class="button">{{ cat.name }}</li>
		    {% endfor %}
                    </ul>
                </div>

                <!--SEARCH BUTTON-->
                <button class="button">Search</button>
            </section>


        <section class="content">
            <button id="start" class="start">START NOW</button>
        </section>

        <!--FOOTER-->
        <div class="pagefooter">
            <footer>
                <span class="info">
                    <ul>
                        <li id="footer_about" class="hyperlink">about</li>
                        <li id="footer_contact" class="hyperlink">contact</li>
                        <li id="footer_terms" class="hyperlink">terms of service</li>
                    </ul>
                </span>

                <span class="social_media">
                    <ul>
                        <li id="footer_facebook" class="facebook button logo"><div></div></li>
                        <li id="footer_github_edwin" class="github button logo"><div></div></li>
                        <li id="footer_github_ebube" class="github button logo"><div></div></li>
                    </ul>
                </span>
            </footer>
        </div>
    </body>
</html>
