{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/styles/filters.css">
    <link rel="stylesheet" href="../static/styles/log_in.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/scripts/log_in.js"></script>
{% endblock %}

{% block content %}
        <!--CONTENTS-->
        <div class="pg_container">
            <section class="nervenex_description">
                <ul>
                    <li>Start</li>
                    <li>learning</li>
                    <li>with</li>
                    <li>Nervenex</li>
                </ul>
            </section>

            <section class="sign_up_details">
                <h2>Join now!</h2>
                <!--dummy-->
                <div class="details">
                    <input id="login_email" type="email" placeholder="Email" size="128"/>
                    <input id="login_password" type="password" placeholder="Password"/ size="60">
                </div>

                <div class="alt_sign_up">
                    <button id="log_in">Log in</button>
                    <p class="hidden hyperlink">Forgot password?</p>
                    <div><button id="sign_up" class="google">Sign Up</button></div>
                </div>
                </section>
        </div>
{% endblock %}
