<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-9">
        <title>Nervenex</title>

        <!--Favicon-->
        <link rel="icon" type="image/png" href="../static/images/icon.png">

        <!--STYLING-->
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<link rel="stylesheet" href="../static/styles/quiz_history.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="../static/scripts/general.js"></script>
	<script src="../static/scripts/quiz_history.js"></script>
    </head>

    <body>
        <!--HEADER-->
        <header>
            <section class="navigation">
                <button class="button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
 
                    <ul class="menu">
                        <li id="menu_home">Home</li>
                        <li id="menu_take_quiz">Take a quiz</li>
                        <li id="menu_create_quiz">Create a quiz</li>
			<li id="menu_quiz_history">Quiz history</li>
			<li id="menu_view_posts" class="tooltip" disabled>View Posts<span class="tooltiptext">Comming soon</span></li>
                        <li id="menu_get_resources">Get Resources</li>
                        <li id="menu_login">Log in</li>
			<li id="menu_logout">Log out</li>
                    </ul>
                </button>
            </section>
            <section class="header_logo">
		    <div class="tooltip button">
		    	<span class="tooltiptext">Return to home</span>
		    </div>
	    </section>
          
            <section class="tooltip user_detail">
                <p id="username">Unidentified User</p>
                <div id="api_status">U</div>
		<span class="tooltiptext">Menu >> Login</span>
            </section>
        </header>


        <!--CONTENTS-->
        <div class="container">

        <section class="content">
	    <h1>Quiz history</h1>

	{% if quizzes and quizzes|length > 0 %}
            <h2>Choose a quiz to see your performance</h2>
            <ul>
		<!--
	        <li>
                    <h2>Anatomy 101 by <b>Becky Bella</b> 10 months ago</h2>
                    <p class="multiline">Practice questions for your Anatomy first test.</p>
                    <p>Duration: <b>30</b> mins</p>
		</li>
		-->
	    {% for quiz in quizzes|sort(attribute='title') %}
	    	<li class="quiz_item" data-id="{{ quiz.id }}">
		    <h2>{{ quiz.title }} by <strong>{{ quiz.author.first_name }} {{ quiz.author.last_name }}</strong> {{ quiz.age }}</h2>
		    <p class="multiline">{{ quiz.description }}</p>
		    <p>Duration: <strong>{{ quiz.duration }}</strong> minutes</p>
		    <p>Number of questions: {{ quiz.questions|length }}</p>
		    </br>
		    <div class="user_attempts">
			<h4>Attempts</h4>
		    {% for attempt in user.attempts | sort(reverse=True, attribute='created_at') %}
		        {% if attempt.quiz == quiz %}
			<p class="hyperlink" id="{{ attempt.id }}">Score: {{ attempt.score }} on {{ attempt.created_at.strftime('%A %-d, %b %Y at %X')}}</p>
			{% endif %}
		    {% endfor %}
		    </div>
                </li>
	    {% endfor %}
            </ul>
	{% else %}
	    <h2>You have not attempted any quiz, yet</h2>
	    <p>Click on the menu >> Take a quiz to get started</p>
	{% endif %}
        </section>

        <!--FOOTER-->
        <div class="pagefooter">
            <footer>
                <span class="info">
                    <ul>
                        <li class="hyperlink">about</li>
                        <li class="hyperlink">contact</li>
                        <li class="hyperlink">terms of service</li>
                    </ul>
                </span>

                <span class="social_media">
                    <ul>
                        <li class="facebook button logo"><div></div></li>
                        <li class="twitter button logo"><div></div></li>
                        <li class="github button logo"><div></div></li>
                    </ul>
                </span>
            </footer>
        </div>
    </body>
</html>
