<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-9">
        <title>Nervenex</title>

        <!--Favicon-->
        <link rel="icon" type="image/png" href="../static/images/icon.png">

        <!--STYLING-->
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<link rel="stylesheet" href="../static/styles/filters.css">
	<link rel="stylesheet" href="../static/styles/quizzes.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="../static/scripts/general.js"></script>
	<script src="../static/scripts/quiz.js"></script>
    </head>

    <body>
        <!--HEADER-->
        <header>
            <section class="navigation">
                <button class="button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
 
                    <ul class="menu">
                        <li id="menu_home">Home</li>
                        <li id="menu_take_quiz">Take a quiz</li>
                        <li id="menu_create_quiz">Create a quiz</li>
                        <li id="menu_view_posts">View Posts</li>
                        <li id="menu_get_resources">Get Resources</li>
                        <li id="menu_login">Log in</li>
			<li id="menu_logout">Log out</li>
                    </ul>
                </button>
            </section>
            <section class="header_logo">
		    <div class="tooltip button">
		    	<span class="tooltiptext">Return to home</span>
		    </div>
	    </section>
          
            <section class="tooltip user_detail">
                <p id="username">Unidentified User</p>
                <div id="api_status">U</div>
		<span class="tooltiptext">Menu >> Login</span>
            </section>
        </header>


        <!--CONTENTS-->
        <div class="pg_container">
            <section class="quiz_info">
		<h2>{{ quiz.title }}</h2>
		<p class="mulitline">{{ quiz.description }}</p>
            
                <div class="quiz_numbers">
		{% if quiz.questions and quiz.questions|length > 0 %}
                    <ul>
			<!--
                        <li class="attempted">1</li>
                        <li class="current">8</li>
			-->
		    {% for question in quiz.questions %}
		    <li id="quiz_num.Question.{{ question.id }}" class="quiz_num" href="Question.{{ question.id }}">{{ loop.index }}</li>
		    {% endfor %}
                    </ul>
		{% endif %}
                </div>

		<div class="time"><b>Time</b> <span>{{ quiz.duration }} min</span></div>

                <div class="timer">
			<p class="figures"><span class="hour">{{ quiz.duration }}</span> <span class="seconds">00</span></p>
                    <p class="key"><span>Minutes</span><span>Seconds</span></p>
                </div>

                <button>Start</button>
            </section>

            <section class="questions">
                <h2>Questions</h2>
		{% if quiz.questions and quiz.questions|length > 0 %}
                <ul>
		    <!--
                    <li class="question_item">
                        <article>
                            <span class="question_num">1</span>
                            <p>A patient comes to the doctor complaining of abdominal pain. Which of the following is not likely the cause of the pain?</p>
                            <ol>
                                <li>Pancreatitis</li>
                                <li>Hernia</li>
                                <li class="answer">Vertigo</li>
                                <li>Peptic ulcer disease.</li>
                            </ol>
                        </article>
                    </li>
		    -->

		    {% for question in quiz.questions %}
		    <li class="question_item" id="Question.{{ question.id }}">
                        <article>
			    <span class="question_num">{{ loop.index }}</span>
			    <p>{{ question.content }}</p>
                            <ol>
				    <li>{{ question.option_a }}</li>

				    <li>{{ question.option_b }}</li>

				    <li>{{ question.option_c }}</li>

				    <li>{{ question.option_d }}</li>
                            </ol>
                        </article>
                    </li>
		    {% endfor %}
                </ul>
		{% endif %}
            </section>
        </div>

        <!--FOOTER-->
        <div class="pagefooter">
            <footer>
                <span class="info">
                    <ul>
                        <li class="hyperlink">about</li>
                        <li class="hyperlink">contact</li>
                        <li class="hyperlink">terms of service</li>
                    </ul>
                </span>

                <span class="social_media">
                    <ul>
                        <li class="facebook button logo"><div></div></li>
                        <li class="twitter button logo"><div></div></li>
                        <li class="github button logo"><div></div></li>
                    </ul>
                </span>
            </footer>
        </div>
    </body>
</html>
