{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/styles/filters.css">
    <link rel="stylesheet" href="../static/styles/sign_up.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/scripts/sign_up.js"></script>
{% endblock %}

{% block content %}
        <!--CONTENTS-->
        <div class="pg_container">
            <section class="nervenex_description">
                <ul>
                    <li>Start</li>
                    <li>learning</li>
                    <li>with</li>
                    <li>Nervenex</li>
                </ul>
            </section>

            <section class="sign_up_details">
                <h2>Join now!</h2>
                <!--dummy-->
                <div class="details">
                    <input id="firstname" type="text" placeholder="First name" size="128"/>
                    <input id="lastname" type="text" placeholder="Last name" size="128"/>
                    <input id="email" type="email" placeholder="Email" size="128"/>
                    <input id="password" type="password" placeholder="Password" size="60"/>
                    <input id="verify_password" type="password" placeholder="Verify password" size="60"/>
                </div>

                <div class="alt_sign_up">
                    <div><input id="terms_of_service" type="checkbox" required/>I agree to the tems of service</div>
                    <button id="sign_up" class="create">Create an account for free</button>
		    <button id="login_btn" href="/login" class="login-btn">Log in</button>
                </div>
                </section>
        </div>
{% endblock %}
