body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body .container {
    max-width: 10000px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 7%;
    margin-right: 7%;
}

.button {
    transition: all 0.17s ease-out;
}
.button:hover {
    /*font-weight: bolder;*/
    font-size: larger;
    font-weight: bolder;
    transition-delay: all 0s ease-out;
    cursor: pointer;
}

.hyperlink {
    text-decoration: underline;
    color: rgb(231, 111, 13);
    transition: all 0.3s ease-out;
    font-weight: normal;
}

.hyperlink:hover {
    font-weight: bolder;
    color: black;
    cursor: pointer;
    transition-delay: all 0s;
}