/* STYLING FOR FOOTER */
footer {
    position:fixed;
    bottom:0;
    background-color:white;
    height:60px;
    width:100%;
    border-top:1px #CCCCCC solid;
    color: rgb(208, 153, 58);
}

footer p {
    text-align:center;
    line-height:30px;
}

footer li {
    display: inline;
}

footer .info {
    float: left;
}
footer .social_media {
    float: right;
    border: 1px green solid;
    height: 100%;
    width: 200px;
}
footer .info::before,
footer .info::after,
footer .social_media::before,
footer .social_media::after {
    clear:both;
}

footer .info li {
    margin-right: 3px;
    border-right: 1px rgb(208, 153, 58) solid;
    padding-right: 8px;
}


.pagefooter {
    /* Prevent hiding items beneath the fixed and remove footer */
    margin-top:80px;    /* same as footer height */
}

footer .social_media {
    position: relative;
}

footer .social_media ul {
    width: 60%;
    border: 1px black solid;
    height: 50%;
    position: absolute;
}

footer .facebook div {
    background-image:url('../images/facebook.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 100%;
    margin-top: -10px;
    float:left;
}

footer .twitter div {
    background-image:url('../images/twitter.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 110%;
    margin-top: -13px;
    float: left;
}

footer .github div {
    background-image:url('../images/github_white.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 110%;
    margin-top: -13.3px;
    float: left;
    margin-left: 3px;
}
/*

.header_logo div {
    height:100%;
    width:140px;
    margin-left:20px;
    background-image:url('../images/logo.png');
    background-repeat:no-repeat;
    background-position:left;
}
*/