header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    position: fixed;
    top:0;
    z-index: 100;
}

.header_logo {
    height: 100%;
    width: 40%;
    float: left;
}

.header_logo div {
    height:100%;
    width:140px;
    margin-left:20px;
    background-image:url('../images/logo.png');
    background-repeat:no-repeat;
    background-position:left;
}

.sign_up {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    text-align: center;
    line-height: 270%;
    float: right;
    width: 50%;
}

.sign_up div {
    border: 1px;
    background-color: rgb(231, 111, 13);
    border-radius: 4px;
    padding: 5px;
    width: 50%;
    float: right;
    color: white;
}

.navigation {
    float: left;
    width: 60px;
    height: 100%;;
    /*border: 1px rgb(208, 153, 58) solid; */
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .circle {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(231, 111, 13);
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.circle .bar {
    width: 15px;
    background-color: white;
    border: none;
    border-radius: 4px;
    height: 4px;
    align-self: center;
    /* border: 2px black solid; */
}