header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    position: fixed;
    top:0;
    z-index: 5;
}

.header_logo {
    margin-top: 18px;
    height: 50%;
    width: 40%;
    float: left;
}

.header_logo div {
    height:100%;
    width:140px;
    margin-left:20px;
    background-image:url('../images/logo.png');
    background-repeat:no-repeat;
    background-position:left;
}

.sign_up {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    text-align: center;
    line-height: 270%;
    float: right;
    width: 50%;

    /* test */
    /* border: 1px green solid; */
}


.navigation {
    float: left;
    width: 60px;
    height: 100%;;
    /*border: 1px rgb(208, 153, 58) solid; */
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .circle {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(231, 111, 13);
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.circle .bar {
    width: 15px;
    background-color: white;
    border: none;
    border-radius: 4px;
    height: 4px;
    align-self: center;
    /* border: 2px black solid; */
}

.navigation .button {
    margin-left: 0px;
    /* border: 1px red solid;  /* test */
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4px;
    background-color: white;
    position: relative;
}

.navigation .button .menu {
    font-size: 16px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    text-align: left;
    margin-top: 0px;
    margin-left: 10px;
    padding: 10px;
    border: 1px rgb(231, 111, 13) solid;
    border-radius: 4px;
    background: rgb(231, 111, 13);
    z-index: 6;
    box-shadow:0px 4px 8px 4px rgba(0, 0, 0, 0.100);
    /* border: 1px red solid;  /* test */
}

.navigation .button:hover .menu{
    visibility: visible;
}

.navigation .menu li {
    color: white;
    list-style: none;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color 1s ease-out;
}

.navigation .menu li:hover {
    /* color: white; */
    /* background-color: rgb(231, 111, 13); */
    background-color: white;
    color: rgb(231, 111, 13);
}

.navigation .bar {
    background-color: rgb(231, 111, 13);
    width: 25px;
    height: 4px;
    margin: 4px;
    border-radius: 4px;
}
/* User info */

.hoverable_block {
    transition: all 0.18s ease-out;
}

.hoverable_block:hover{
    cursor: pointer;
}

.user_detail {
    border: 1px #CCCCCC solid;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: right;
    height: 50px;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    min-width: 200px;
}

.user_detail p {
    margin-top: auto;
    margin-bottom: auto;
}

.user_detail .api_status {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #BBBBBB;
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 20px;
}

.user_detail .api_active {
    background-color: rgb(231, 111, 13);
}