.pg_container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    min-height: 500px;
    height: fit-content;
    width: auto;
}

.quiz_info {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 30%;
    height: fit-content;
    padding-top: 0px;
    margin-bottom: -30px;
    padding-right: 15px;
    padding-left: 20px;
    border-right: 1px white solid;
    background-color: white;
    text-align: left;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /*
    border: 1px red solid;
    */
}

.quiz_info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 78px;
}

.quiz_info p {
    line-height: 20px;
}
.quiz_numbers {
    border: 1px #DDDDDD solid;
    width: 95%;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.quiz_numbers ul {
    width: 90%;
    height: 100%;
    text-align: center;
    box-sizing: content-box;
    margin-left: -25px;
    /* test
    border: 1px red solid;
    */
}

.quiz_numbers li {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    padding-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    list-style: none;
    height: 30px;
    width: max-content;
    text-align: center;
    cursor: pointer;
}

.quiz_numbers .current {
    background:rgb(231, 111, 13);
    color: white;
}

.quiz_numbers .attempted {
    border-color:rgb(231, 111, 13);
}

div.time,
div.level {
    width: 95%;
    margin-bottom: 10px;
    /* test *
    border: 1px green solid;
    */
}

div.time span,
div.level span {
    float: right;
    text-align: left;
}

.timer p {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    padding-top: 5px;
    /* test *
    border: 1px red solid;
    */
}

.timer .figures {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.quiz_info::before,
.quiz_info::after,
.questions::before,
.questions::after {
    clear: both;
}

.questions {
    width: 80%;
    margin-left: 30px;
    margin-top: 50px;
}

.questions h2 {
    margin-top: 30px;
}

.questions ul {
    margin-left: -20px;
    margin-right: 7%;
    padding-left: 20px;
    list-style: none;
}

.questions .question_item {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.question_item p {
    display: inline-block;
    border-bottom: 1px #DDDDDD solid;
    padding-bottom: 10px;
    line-height: 25px;
}

.question_num {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px rgb(231, 111, 13) solid;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.question_item li {
    list-style:upper-alpha;
    cursor: pointer;
    margin-bottom: 10px;
}

.question_item .answer {
    color: rgb(231, 111, 13);
}