.pg_container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: -90px;
    min-height: 500px;
    width: auto;
}

/* test */
.container {
    max-width: 10000px;
    min-height: 360px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 7%;
    margin-right: 7%;
}
/* test */
.pg_container section {
    height: auto;
    
}
.nervenex_description {
    float: left;
    width: 50%;
    margin-right: 5px;
    border-right: 1px white solid;
    border-bottom-right-radius: 100px;
    background-color: #EEEEEE;
}

.sign_up_details {
    float: right;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;

    /* test */
    border: 1px green solid;
}

.nervenex_description::before,
.nervenex_description::after,
.sign_up_details::before,
.sign_up_details::after {
    clear: both;
}

.nervenex_description ul {
    list-style: none;
    border-left: rgb(231, 111, 13) solid;
    font-size: 45px;
    margin-left: 10%;
    color:  rgb(231, 111, 13);
}

.nervenex_description li {
    margin-left: -4%;
    width: 50px;
    /* test */
    /* border: 1px black solid; */
}

.sign_up_details h2 {
    border-bottom: 1px #DDDDDD solid;
    padding-bottom: 5px;
    font-size: 30px;
}

.sign_up_details input {
    height: 30px;
    width: 80%;
    padding-left: 5%;
    margin-bottom: 20px;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    transition: 0.5s ease-out;
    outline: none;
}

.sign_up_details input:focus {
    box-shadow: 0 0 8px rgb(231, 111, 13);
}